:root {
  --trans-light: rgba(255, 255, 255, 0.6);
  --trans-dark: rgba(25, 25, 25, 0.75);
  --border-style: 1px solid rgb(169, 169, 169);
  /* --backdrop-filter: blur(5px) saturate(150%); */
  --backdrop-filter: none;
}

/* 页脚与头图透明 */
#footer {
  background: transparent !important;
}
#page-header {
  background: transparent !important;
}

/* 白天模式遮罩透明 */
#footer::before {
  background: transparent !important;
}
#page-header::before {
  background: transparent !important;
}

/* 夜间模式遮罩透明 */
[data-theme="dark"] #footer::before {
  background: transparent !important;
}
[data-theme="dark"] #page-header::before {
  background: transparent !important;
}

/* 首页文章卡片 */
#recent-posts > .recent-post-item {
  background: var(--trans-light);
  backdrop-filter: var(--backdrop-filter);
  border-radius: 25px;
  border: var(--border-style);
}

/* 首页侧栏卡片 */
#aside-content .card-widget {
  background: var(--trans-light);
  backdrop-filter: var(--backdrop-filter);
  border-radius: 18px;
  border: var(--border-style);
}

/* 文章页、归档页、普通页面 */
div#post,
div#page,
div#archive {
  background: var(--trans-light);
  backdrop-filter: var(--backdrop-filter);
  border: var(--border-style);
  border-radius: 20px;
}

/* 导航栏 */
#page-header.nav-fixed #nav {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: var(--backdrop-filter);
}

[data-theme="dark"] #page-header.nav-fixed #nav {
  background: rgba(0, 0, 0, 0.7) !important;
}

/* 夜间模式遮罩 */
[data-theme="dark"] #recent-posts > .recent-post-item,
[data-theme="dark"] #aside-content .card-widget,
[data-theme="dark"] div#post,
[data-theme="dark"] div#archive,
[data-theme="dark"] div#page {
  background: var(--trans-dark);
}


/* 夜间模式页脚页头遮罩透明 */
[data-theme="dark"] #footer::before {
  background: transparent !important;
}
[data-theme="dark"] #page-header::before {
  background: transparent !important;
}

/* 阅读模式 */
.read-mode #aside-content .card-widget {
  background: rgba(158, 204, 171, 0.5) !important;
}
.read-mode div#post {
  background: rgba(158, 204, 171, 0.5) !important;
}

/* 夜间模式下的阅读模式 */
[data-theme="dark"] .read-mode #aside-content .card-widget {
  background: rgba(25, 25, 25, 0.9) !important;
  color: #ffffff;
}
[data-theme="dark"] .read-mode div#post {
  background: rgba(25, 25, 25, 0.9) !important;
  color: #ffffff;
}

/* 小冰分类分类磁铁黑夜模式适配 */
/* 一般状态 */
[data-theme="dark"] .magnet_link_context {
  background: #1e1e1e;
  color: antiquewhite;
  border-radius: 5px;
}
/* 鼠标悬浮状态 */
[data-theme="dark"] .magnet_link_context:hover {
  background: #1e4d59;
  color: #f2f2f2;
  border-radius: 5px;
}
/* 翻页按钮居中 */
#pagination {
  width: 100%;
  margin: auto;
}

/* 一级菜单居中 */
#nav .menus_items {
  position: absolute !important;
  width: fit-content !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}
/* 子菜单横向展示 */
#nav .menus_items .menus_item:hover .menus_item_child {
  /* display: flex !important; */
  background: rgba(0, 0, 0, 0.6) !important;
} 
/* 这里的2是代表导航栏的第2个元素，即有子菜单的元素，可以按自己需求修改 */
/* .menus_items .menus_item:nth-child(2) .menus_item_child {
  left: -125px;
}  */

/* 夜间模式菜单栏发光字 */
[data-theme="dark"] #nav .site-page,
[data-theme="dark"] #nav .menus_items .menus_item .menus_item_child li a {
  text-shadow: 0 0 2px rgb(179, 71, 241) !important;
}

/* 手机端适配 */
[data-theme="dark"] #sidebar #sidebar-menus .menus_items .site-page {
  text-shadow: 0 0 2px rgb(179, 71, 241) !important;
}

/* 闪烁变动颜色连续渐变 */
#site-name,
#site-title,
#site-subtitle,
#post-info,
.author-info__name,
.author-info__description {
  transition: text-shadow 1s linear !important;
}

/* 侧边栏个人信息卡片动态渐变色 */
#aside-content > .card-widget.card-info {
  background: linear-gradient(
    -45deg,
    #e8d8b9,
    #eccec5,
    #a3e9eb,
    #bdbdf0,
    #eec1ea
  );
  box-shadow: 0 0 5px rgb(66, 68, 68);
  position: relative;
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite !important;
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* 黑夜模式适配 */
[data-theme="dark"] #aside-content > .card-widget.card-info {
  background: #191919ee;
}

/* 个人信息Follow me按钮 */
#aside-content > .card-widget.card-info > #card-info-btn {
  background-color: #012e31;
  border-radius: 8px;
}

/* 鼠标样式 */
#cursor {
  position: fixed;
  width: 16px;
  height: 16px;
  /* 这里改变跟随的底色 */
  background: rgb(57, 197, 187);
  border-radius: 8px;
  opacity: 0.25;
  z-index: 10086;
  pointer-events: none;
  transition: 0.2s ease-in-out;
  transition-property: background, opacity, transform;
}

#cursor.hidden {
  opacity: 0;
}

#cursor.hover {
  opacity: 0.1;
  transform: scale(2.5);
  -webkit-transform: scale(2.5);
  -moz-transform: scale(2.5);
  -ms-transform: scale(2.5);
  -o-transform: scale(2.5);
}

#cursor.active {
  opacity: 0.5;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
}

/* 菜单栏图标 */
svg.menu_icon {
  width: 1.28em;
  height: 1.28em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/* 社交图标 */
svg.social_icon {
  width: 1.20em;
  height: 1.20em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/* 关闭歌词显示 */
.aplayer.aplayer-fixed .aplayer-lrc {
  display: none !important;
}

/* 文章框高度 */
#recent-posts > .recent-post-item {
  height: 200px;
  border-radius: 18px !important;
  border-color: rgba(56, 211, 203, .8);
  border-width: medium;
}

/* 文章栏相关调整 */
#recent-posts > .recent-post-item .post_cover {
  padding: 10px;
}

#recent-posts > .recent-post-item .post_cover img{
  border-radius: 12px !important;
}

#recent-posts > .recent-post-item >.recent-post-info > .article-title {
  text-align: center;
  font-family: STZhongsong,'Microsoft YaHei';
  -webkit-box-orient: vertical;
}

#recent-posts > .recent-post-item >.recent-post-info > .article-meta-wrap {
  line-height: 1.6;
  text-align: center;
}

[data-theme="dark"] #aside-content .card-widget:not(.card-info):not(.card-clock), [data-theme="dark"] div#post, [data-theme="dark"] div#archive, [data-theme="dark"] div#page {
  background: var(--trans-dark);
  /* clip-path: polygon(100% 0,100% 100%,0 100%,0 calc(100% - 52.5px),12.5px calc(100% - 40px),12.5px calc(100% - 50px),0 calc(100% - 62.5px),0 calc(100% - 82.5px),12.5px calc(100% - 70px),12.5px calc(100% - 80px),0 calc(100% - 92.5px),0 calc(100% - 112.5px),12.5px calc(100% - 100px),12.5px calc(100% - 112.5px),12.5px calc(100% - 110px),0 calc(100% - 122.5px),0 calc(100% - 142.5px),12.5px calc(100% - 130px),12.5px calc(100% - 141.5px),0 calc(100% - 154px),0 0); */
  border-left: none!important;
}

#aside-content .card-widget {
  font-weight: 700;
  border: 2px solid rgba(56, 211, 203, .8) !important;
}

/* [data-theme=dark] .card-widget.card-announcement::before {
  background: linear-gradient(to top,transparent,rgba(56,211,203)) !important;
  height: 104px !important;
  bottom: 36px !important;
} */
#aside-content .card-tag-cloud a {
  font-size: 1.45em !important;
}

[data-theme='dark'] img:not(.site-icon), img:not(.site-icon) {
  border-radius: 11px;
}

.site-icon {
  border-radius: 5px;
}

[data-theme='dark'] #aside-content .aside-list > .aside-list-item:not(:last-child), #aside-content .aside-list > .aside-list-item:not(:last-child) {
  border-bottom: 0px;
}
/* 小冰标签 */
.magnet_item {
  box-shadow: 4px 3px 4px 2px #333;
}